

 // Primary

 $color-limeGreen: hsl(163, 72%, 41%);
 $color-red: hsl(356, 69%, 56%);
 $color-fb: hsl(195, 100%, 50%);
 $color-tw: hsl(203, 89%, 53%);
 $color-inst: gradient(#f69d3c, #3f87a6);
 $color-yt:  hsl(348, 97%, 39%);
 

// Dark Theme

.dark {

--bg: hsl(230, 17%, 14%);
--bg-top: hsl(232, 19%, 15%);
--card-bg:hsl(228, 28%, 20%);
--text:hsl(228, 34%, 66%);
--textSec: hsl(0, 0%, 100%);
}

$color-ToggleDark: linear-gradient( hsl(210, 78%, 56%),hsl(146, 68%, 55%));

 // Light Theme

.light{

--bg: hsl(0, 0%, 100%);
--bg-top: hsl(225, 100%, 98%);
--card-bg: hsl(227, 47%, 96%);
--text: hsl(228, 12%, 44%);
--textSec: hsl(230, 17%, 14%);
}

$color-Toggle: hsl(230, 22%, 74%);



$font-size: 14px;
$font-base: 10px;

$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

$font-weightI: 400;
$font-weightII: 700;

$font-family: 'Inter', sans-serif;
$font-base: $font-family;

//breackpoints

$bp-sm: 375px;
$bp-lg: 1440px;


$small-media: 'screen and (max-width: #{$bp-sm})';

@mixin screen($size: small) {

    @if $size == 'small' {
        @media #{$small-media} {
            @content;
            
        }
    }
    
}
